<!DOCTYPE html>
<html lang="sp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue js</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="app.js" type="module"></script>
</head>
<body>
    <!-- primer punto -->
    <h1 class="text-center">Primer punto | Lectura de datos</h1>
    <div id="app">
        <div class="bg-info">
            <label>Al ingresar un texto en el input lo mostrara en mayusculas en la pantalla.</label><br>
            <input v-model="inputValue">
            <h1 class="text-center"><b class="text-uppercase badge bg-danger text-wrap">{{inputValue}}</b></h1>
        </div>
        <!-- segundo punto -->
        <h1 class="text-center">Segundo punto | Crear objeto<h1>
            <h5 class="bg-warning">Se agrega el objeto "aprendiz" a my-component.js</h5>
        <!-- tercer punto -->
        <h1 class="text-center">Tercer punto | Mostrar objeto</h1>
            <div class="bg-danger">
                <table class="table table-striped">
                <tr>
                    <td><b>Nombre</b></td>
                    <td><b>Edad</b></td>
                </tr>
                <tr>
                    <td>{{aprendiz.nombre}}</td>
                    <td>{{aprendiz.edad}}</td>
                </tr>
                </table>
            </div>
        <!-- cuarto punto -->
        <h1 class="text-center">Cuarto punto | Crear Array</h1>
        <h5 class="bg-success">Se agrega la array "numeros" a my-component.js</h5>
        <!-- quinto punto -->
        <ul class="bg-warning">
            <li v-for="number in numbers" :key="number">{{ number }}</li>
        </ul>
        </div>
</body>
</html>